<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <link rel='stylesheet' href='/stylesheets/signup.css'/>
</head>
<body>
    <div class="main">
        <div id="myDIV" class="header">
            <h2 class="title">Sign Up</h2>
            <form action="/signup", method="POST">
                <input type="text" name="name" id="myInput" placeholder="Name...">
                <input type="email" name="email" id="myInput" placeholder="Email...">
                <input type="password" name="password" id="myInput" placeholder="Password...">
                <input type="password" name="repeat_password" id="myInput" placeholder="Confirm Password..."><br/>
                <div> <a href='/login' class="sign">Already a member?Sign In</a>
                <input type="submit" id='sub' value="Sign up" class="addBtn">
                </div>
            </form>
        </div>
    </div>
</body>
</html>